#iphone{
    height: 95vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:600px){
    #iphone{
        height: 100vh;
        overflow: hidden;
    }
    
}